<div class="panel panel-default">
    <div class="panel-heading">
        Szczegółowe informacje
    </div>
    <!-- /.panel-heading -->
   	<div class="panel-body">
      <form class="form-horizontal">
        <fieldset>
          <% if !@training.start.nil? %>
            <div class="form-group">
              <label class="col-md-3 control-label">Start</label>
              <div class="col-md-9 about-me">
                <%= @training.start.strftime("%Y-%m-%d %H:%M") %>
              </div>
            </div>
          <% end %>
          <% if !@training.end.nil? %>
            <div class="form-group">          
              <label class="col-md-3 control-label">Koniec</label>
              <div class="col-md-9 about-me">
                <%= @training.end.strftime("%Y-%m-%d %H:%M") %>
              </div>
            </div>
          <% end %>
            <% if !@training.comment.blank? %>
              <div class="form-group">
                <label class="col-md-3 control-label"> Komentarz</label>
                <div class="col-md-9 about-me">
                  <%= @training.comment %>
                </div>
              </div>
            <% end %>
            <% if !@training.done_excercise.nil? %>
              <%= render 'done_excercises/details', data: @training.done_excercises %>
            <% end %>
            <% if !@training.excercise.nil? %>
              <%= render 'excercises/details', data: @training.excercises %>
            <% end %>

        </fieldset>
      </form>
  	</div>
</div>


