<div class="col-sm-4">
    <%= link_to my_proteges_path do%> 
        <div class="panel panel-primary">
            <div class="panel-heading" style="background: #FF9800;">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-users fa-5x"></i>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <span class="pull-left">Podopieczni</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>   
        </div>
    <%end%> 
</div>

<div class="col-sm-4">
    <%= link_to active_excercises_path do%> 
        <div class="panel panel-primary">
            <div class="panel-heading" style="background: #8BC34A;">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="material-icons" style="font-size: 5em; margin-top: -5px;">directions_run</i>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <span class="pull-left">Ćwiczenia</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>      
        </div>
    <%end%>
</div>
<div class="col-sm-4">
    <%= link_to messages_path do%> 
        <div class="panel panel-primary">
            <div class="panel-heading" style="background: #00BCD4;">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-envelope fa-5x"></i>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <span class="pull-left">Wiadomośći</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>      
        </div>
    <%end%>
</div>

<div class="clearfix"></div>

<div class="col-md-9">
    <div class="panel panel-primary" >
        <div class="panel-heading" style="background: #B6B6B6;">
            Obecnie ćwiczący
        </div>
        <div class="panel-body">
            <% if !proteges.nil? %>
                <% proteges.each do |data| %>
                    <% if !data.active_excercise.blank? %>
                        <div class="col-sm-4 text-center" >
                            <% if !data.user.photo_file_name.nil? %>
                                <div style="background-image: url(<%=data.user.photo.url(:small)%>);" class="photo-center"></div>
                            <% else %>
                                <div style="background-image: url('img/nologinuser2.jpg');"  class="photo-center"></div>
                            <% end %>
                            <%= data.user.name %> <%= data.user.surname %>
                        </div>
                    <% end %>
                <% end %>
            <% end %>
        </div>      
    </div>
</div>