<% if logged_in? %>

    <% if Protege.find_by(user_id: current_user.id.to_i).nil? and Trainer.find_by(user_id: current_user.id.to_i).nil? %>
          <div class="col-md-offset-3 col-md-6 ">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Witaj nowy użytkowniku. Powiedz mi kim jesteś:  
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <p>
                        <%= form_for(:protege, url: new_protege_path, method: "create") do |f| %>
                        <%= f.submit "Jestem podopiecznym", class: "btn btn-outline btn-default btn-raised btn-lg btn-block" %>
                        
                        <% end %>
                        <br>
                        <%= form_for(:trainer, url: new_trainer_path, method: "create") do |f| %>
                        <%= f.submit "Jestem trenerem", class: "btn btn-outline btn-default btn-raised btn-lg btn-block" %>
                        <% end %> 
                   </p>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
    <% else %>

        <% if !Protege.find_by(user_id: current_user.id.to_i).nil? %>
            <%= render 'protege_welcome_page', measuremets:  @last_measurements %>
        <% end %>

    <% end %>

<%end %>

