<h1 style="text-align: center">Zaloguj się</h1>
  <div class="row">
      <div class="col-lg-12">
        <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
      </div>
  </div>
  <br>
  <%= form_for(:session, url: login_path) do |f| %>

    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>

    <%= f.label :hasło %> <a href="#przypomnij_haslo" role="tab" data-toggle="tab">(przypomnij hasło)</a>
    <%= f.password_field :password, class: 'form-control' %>
    
    <div class="checkbox">
      <%= f.label :remember_me do %>
        <%= f.check_box :remember_me %>
        <span>Pamiętaj mnie na tym komputerze</span>
      <% end %>
    </div>
    <%= f.submit "Zaloguj się", class: "btn btn-primary" %>
  <% end %>
          
  <p>Nowy użytkownik ? <a href="#zarejestruj_sie" role="tab" data-toggle="tab">Zarejestruj się juz teraz!</a></p>
