<div class="panel panel-default">
    <div class="panel-heading">
        Moje leki
    </div>
    <!-- /.panel-heading -->
   	<div class="panel-body">
      	<div class="table-responsive">
          <% if @my_medicines.empty? %>
            Brak leków
          <% else %>
          	<table id="card" class="table table-hover">
              	<thead>
                  	<tr>
                      	<th>Nazwa</th>
                      	<th>Dawka</th>
                      	<th>Jednostka</th>
             			      <th> Dozowanie</th>
                        <th> Usuń</th>
                  	</tr>
              	</thead>
              	<tbody>
                  <% @my_medicines.each do |data| %>
                 
                  <tr>
                      <td><%= data.name %></td>
                      <td><%= data.dose %> </td>
                      <td><%= data.dose_unit %> </td>
                      <td><%= data.medicine_times.count %>
                      	<%= link_to "dodaj" ,'#', "data-toggle" => "modal", 'data-target' => '#MedicineTime'+data.id.to_s, class: "btn btn-success btn-sm", style:"margin-top: 0px; margin-bottom: 0px" %>

                      	<% if data.medicine_times.count > 0 %>
	                      	<%= link_to "Pokaż dozowanie",'#c2'+data.id.to_s, "data-toggle" => "collapse", class: "btn btn-warning btn-sm", style:"margin-top: 0px; margin-bottom: 0px" %>
	                      		<div id="c2<%= data.id.to_s %>" class="collapse">
	    							        <% data.medicine_times.each do |data2| %>
            							   <%= data2.medicine_time.strftime("%H:%M") %>
                             <% if data2.remind == true %>
                                przypomnij o <%= data2.remind_when.strftime("%H:%M") %>
                             <% end %>
                             <br>
            						<% end %>
	 		 					</div> 
	 		 			<% end %>
 		 				</td>
            <td> 
              <%= link_to "usuń", my_medicines_path(id: data.id), method: :delete, class: 'btn btn-raised btn-danger btn-sm', style: "margin-top: 0px; margin-bottom: 0px", data: { confirm: "Czy jesteś tego pewien ?" }  %> 
               
              
            </td>
            <%= render 'medicine_times/new', medicine_time: @medicine_time, medicine: data %>
                  <% end %>
              	</tbody>
          	</table>
            <% end %>
            <%= link_to '#', "data-toggle" => "modal", 'data-target' => '#myModal' do %>
            	<button class="btn btn-default btn-block btn-raised">Dodaj</button>
            <% end %>
      	</div>
  	</div>
</div>
      <%= render 'medicines/new', data: @medicine, protege_id: current_user.protege.id %>

<script type="text/javascript">
$('#card').DataTable( {
    "pagingType": "full_numbers",
    "order": [[ 1, "desc" ]],
    "dom": 'lfrt<"bottom"i<"clear">p>',
    "language": {
        "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Polish.json"
    }
} );
</script>

