  <!-- Modal -->
  <div class="modal fade" id="MedicineTime<%=medicine.id%>" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <%= form_for medicine_time , :url => url_for(:controller => 'medicine_times', :action => 'create') do |f| %>
        <fieldset>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        	 <h4 class="modal-title" id="myModalLabel">Dodaj dozowanie do leku <%= medicine.name %></h4>
        </div>
        <div class="modal-body">
          <br>
          
          <%= f.label :medicine_time %>
          <%= f.date_field :medicine_time, class: 'form-control' %>
          
          <div class="checkbox">
            <label>
              <%= f.check_box :remind %> Ustaw przypomnienie
            </label>
          </div>


          <%= f.label :remind_when %>
          <%= f.date_field :remind_when , class: 'form-control' %>
          <%= f.text_field :medicine_id, class: 'hidden', value: medicine.id %>

          
        </div>
        <div class="modal-footer">
          <%= f.submit "Dodaj czas", class: "btn btn-primary" %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
        </div>
              </fieldset>
      <% end %>
      </div>
      
    </div>
  </div>

