<div class="col-xs-6">
	<% data.each do |d| %>
		<div class="panel panel-default">
		  <div class="panel-heading" style="background: #FFE0B2;"><%= d.excercise_type.name %></div>
		  <div class="panel-body">
		    <% if d.how_many == 1 %>
		    	Wykonaj 1 raz.
		    <% else %>
		    	Wykonaj <%= d.how_many %> razy
		    <% end %>
		  </div>
		  <div class="panel-footer">
		  	<!-- Trigger the modal with a button -->
			<button type="button" class="btn btn-default btn-raised btn-block no-margin" data-toggle="modal" data-target="#myModal<%= d.id.to_s %>">Więcej</button>
		  </div>
		</div>
		<!-- Modal -->
		<div id="myModal<%= d.id.to_s %>" class="modal fade" role="dialog">
		  <div class="modal-dialog">
		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title"><%= d.excercise_type.name %></h4>
		      </div>
		      <div class="modal-body">
		        <p><%= d.excercise_type.formula %></p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default btn-raised" data-dismiss="modal">Zamknij</button>
		      </div>
		    </div>

		  </div>
		</div>
	<% end %>
</div>



