  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <%= form_for data, :url => url_for(:controller => 'excercise_types', :action => 'new') do |f| %>
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4> Dodaj nowy typ ćwiczeń           
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </h4>
        </div>
        <div class="modal-body">
          <br>
          <%= f.label :nazwa %>
          <%= f.text_field :name, class: 'form-control' %>

          <%= f.label :formula %>
          <%= f.text_area(:formula, rows: 4,  class: 'form-control') %>
        </div>
        <div class="modal-footer">
          <%= f.submit "Dodaj typ ćwiczeń", class: "btn btn-primary btn-raised" %>
          <button type="button" class="btn btn-default btn-raised" data-dismiss="modal">Zamknij</button>
        </div>
      </div>
      <% end %>

    </div>
  </div>  