
<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-fw fa-archive"></i> Kartoteka
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="list-group">
            <% @measureType.each do |data| %>      
            <div class="list-group-item">
                 <%= data.id %> <%= data.name %> Jednostka: <%= data.unit %> 
                <span class="pull-right">
                    <% if data.extra_field == true %>
                        <button class="btn btn-warning btn-raised btn-xs" style="margin-top: 0px; margin-bottom: 0px">Extra field</button>
                    <% end %>
                        <%= link_to "edytuj",'#', class: "btn btn-info btn-raised btn-xs", style: "margin-top: 0px; margin-bottom: 0px", "data-toggle" => "modal", 'data-target' => '#EditMeasureType'+data.id.to_s %>

                    <%= link_to measure_type_path(id: data.id), method: :delete, data: { confirm: "Czy jesteś tego pewien ?" } do %>
                        <button class="btn btn-danger btn-raised btn-xs" style="margin-top: 0px; margin-bottom: 0px">Usuń</button>
                    <% end %>
                </span>
            </div>   
                    <%= render 'measure_types/edit', measureType: data%>                 
            <% end %> 
        </div>
        <!-- /.list-group -->
        <button type="button" class="btn btn-default btn-block btn-raised" data-toggle="modal" data-target="#myModal">
            Dodaj opcje pomiaru do kartoteki
          </button>
          <!-- Modal -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <%= render 'measure_types/new' %>
            </div>
          </div>
    </div>
    <!-- /.panel-body -->
</div>


