<% if params[:id].nil? %>

<% else %>
  <%= @protege.user.name  %> <%= @protege.user.surname  %>
    <ul class="nav nav-tabs">
      <% @measureType.each do |data| %>
      <li><a href="#<%= data.name %>" data-toggle="tab" onclick="update(<%= data.id%>)"><%= data.name %></a></li>
      <% end %>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
      <% @measureType.each do |data| %>
        <div class="tab-pane fade" id="<%= data.name %>">
          <div class="col-md-6 col-lg-6">
          <div class="panel panel-default">
            <div class="panel-heading">
                <%= data.name %>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
              <div class="table-responsive">
                  <table id="card" class="table table-hover">
                      <thead>
                          <tr>
                              <th><%=data.name %></th>
                              <th>Data</th>
                          </tr>
                      </thead>
                      <tbody>
                          <% @protege_measurement.where("measure_type_id = ?", data.id).each do |data2| %>
                          <tr>
                              <td><%= data2.value %> <%= data.unit %> </td>
                              <td><%= data2.created_at.strftime("%Y-%m-%d %H:%M") %> </td>
                          </tr>
                          <% end %>
                      </tbody>
                  </table>
              </div>
            </div>
        </div>
      </div>
     
    </div>
    <% end %>
  </div>
 <div class="col-md-6 col-lg-6" id="left_bar" style="display: hidden">
        <div class="panel panel-default">
                <div class="panel-heading">
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                  <div id="myfirstchart"></div> 
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
          </div>
<script type="text/javascript">
    var d = new Array();

    var j = new Morris.Area({
      // ID of the element in which to draw the chart.
      element: 'myfirstchart',
      // Chart data records -- each entry in this array corresponds to a point on
      // the chart.
      data: d,
      // The name of the data record attribute that contains x-values.
      xkey: 'year',
      xLabels: 'week',
      parseTime: true,

      // A list of names of data record attributes that contain y-values.
      ykeys: ['value'],
      // Labels for the ykeys -- will be displayed when you hover over the
      // chart.
      labels: ['Value']
    });

function update(id) {
      d = [];
      <% @protege_measurement.each do |data| %>
        if ( id == "<%= data.measure_type_id %>" ) {
          d.push({ "year": "<%= data.created_at.strftime('%Y-%m-%d %H:%M') %>", "value": "<%= data.value %>" });
        };
      <% end %>
      j.setData(d);
    }


    $('.table table-hover').DataTable( {
        "pagingType": "full_numbers",
        "order": [[ 1, "desc" ]],
        "dom": 'lfrt<"bottom"i<"clear">p>',
        "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Polish.json"
        }
    } );  


</script>

<% end %>
