<% if params[:id].nil? %>
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-fw fa-archive"></i> Kartoteka
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="list-group">
                <% @cardIndex.each do |data| %>     
                 <%= link_to cards_path(id: data.id), class: "list-group-item" do%>
                    <%= data.name %>
                    <span class="pull-right text-muted small"><em><%= Card.where("user_id = ? AND card_index_id = ?", session[:user_id], data.id).count %></em>
                    </span>
                <% end %>
                <% end %> 
            </div>
            <!-- /.list-group -->
            <%= link_to new_card_index_path , class: "btn btn-default btn-block" do%> 
                Dodaj 
            <%end%>
        </div>
        <!-- /.panel-body -->
    </div>
<% else %>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th><%= @cardIndexInfo.name %></th>
                    </tr>
                </thead>
                <tbody>
                    <% @card.each do |data| %>
                    <tr>
                        <td><%= data.measurement %> <%= @cardIndexInfo.unit %> </td>
                        <td><%= data.created_at %> </td>
                    </tr>
                    <% end %>
                </tbody>
            </table>

        </div>
        <!-- /.table-responsive -->

         <%= link_to new_measurement_path(id: params[:id]) , class: "btn btn-default btn-block" do%> 
                Dodaj 
            <%end%>
    </div>

    <!-- /.panel-body -->
</div>

<div id="myfirstchart" style="height: 250px;"></div>
<script type="text/javascript">
    var d = [];
    var i;
    <% @cardplot.each do |data| %>
            i = '<%= data.created_at.strftime("%Y-%m-%d %H:%M") %>';
            d.push({ year: i, value: <%= data.measurement %> });
    <% end %>
new Morris.Line({
  // ID of the element in which to draw the chart.
  element: 'myfirstchart',
  // Chart data records -- each entry in this array corresponds to a point on
  // the chart.
  data: d,
  // The name of the data record attribute that contains x-values.
  xkey: 'year',
  xLabels: 'week',
  parseTime: true,

  // A list of names of data record attributes that contain y-values.
  ykeys: ['value'],
  // Labels for the ykeys -- will be displayed when you hover over the
  // chart.
  labels: ['Value']
});



</script>

</script>
<% end %>