<header class="navbar navbar-inverse">
    <%= link_to "sample app", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Strona domowa",   root_path %></li>
        <li><%= link_to "O nas",   about_path  %></li>
        <li><%= link_to "Kontakt",   contact_path  %></li>
        <li><%= link_to "Zaloguj się", '#' %></li>
        <li><%= link_to "Zarejestruj się", signup_path %></li>
      </ul>
    </nav>
</header>