<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">    
        <div class="hidden-xs" id="personal_info">
            <% if !current_user.photo_file_name.nil? %>
                <div style="background-image: url(<%=current_user.photo.url(:small)%>);" id="circle-photo-big"></div>
            <% else %>
                <div style="background-image: url('img/nologinuser2.jpg');" id="circle-photo-big"></div>
            <% end %>
            <span style="position: absolute;left: 100px;top: 45px;"><%= @current_user.name %>  <%= @current_user.surname%></span>
        </div>
        <ul class="nav" id="side-menu">
            <li><%= link_to root_path, id:'start' do %> <i class="material-icons" style="font-size: 17px;vertical-align: middle;">dashboard</i>Start<% end %></li>
            <% if @current_user.admin == true %>
             <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Panel Admina<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <%= link_to trainers_path do %> 
                        Trenerzy 
                        <% end %>
                    </li>
                    <li>
                        <%= link_to measure_type_path do %> 
                            Rodzaje pomiarów
                        <% end %>
                    </li>
                    <li>
                        <%= link_to excercise_types_path do %> 
                            Rodzaje ćwiczeń
                        <% end %>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <% end %>
            <!-- Protege user menu -->
            <% if !Protege.find_by(user_id: current_user.id.to_i).nil? %>
            <li>
                <%= link_to my_medicines_path do%><i class="fa fa-medkit fa-fw"></i> Moje leki <% end %>
            </li>
            <li>
                <a href="#"><i class="fa fa-fw fa-archive"></i> Kartoteka<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <% measure_types.each do |data| %>     
                        <li><%= link_to measurement_path(id: data.id) do%>
                            <%= data.name %>
                        <% end %></li>
                    <% end %> 
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <% if !current_user.protege.trainer.nil? %>
            <li>
                <%= link_to messages_path do %> 
                    <i class="fa fa-fw fa-envelope"></i> Wiadomości 
                <% end %> 
            </li>
            <li>
                <%= link_to profile_path(id:current_user.protege.trainer.user_id) do %> <i class="fa fa-fw fa-users"></i> Mój trener <% end %>
            </li>
            <% end %>



            <% elsif !Trainer.find_by(user_id: current_user.id.to_i).nil? %>
            <li>
                <%= link_to my_proteges_path do %> 
                    <i class="fa fa-fw fa-users"></i>Moi podopieczni 
                <% end %>
            </li>
            <li>
                <%= link_to messages_path do %> 
                    <i class="fa fa-fw fa-envelope"></i> Wiadomosci
                <% end %>
            </li>
            <li>
                <%= link_to active_excercises_path do %> 
                    <i class="material-icons" style="font-size: 17px;vertical-align: middle;">directions_run</i>Aktywne ćwiczenia
                <% end %>
            </li>
            <!-- end protege user menu -->

            <!-- start trainer user menu -->

            <!-- end trainer user menu -->

            <% end %>


        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->

<script>
$(document).ready(function () {
$('#start').removeClass('active');
}); 

</script>
