<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">    
        <div class="hidden-xs" id="personal_info">
            <img class="img-circle" id="circle-photo-big" src="img/person.jpg" alt="">
            <%= @current_user.name %>  <%= @current_user.surname%> <%= @current_user.admin%> 
        </div>
        <ul class="nav" id="side-menu">
            <% if @current_user.admin == true %>
             <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Panel Admina<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <%= link_to inactive_trainers_path do %> 
                        Nieatywni trenerzy 
                        <% end %>
                    </li>
                    <li>
                        <%= link_to measure_type_path do %> 
                            Rodzaje pomiarów
                        <% end %>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <% end %>
            <!-- Protege user menu -->
            <% if !Protege.find_by(user_id: current_user.id.to_i).nil? %>
            <li>
                <%= link_to my_medicines_path do%><i class="fa fa-medkit fa-fw"></i> Moje leki <% end %>
            </li>
            <li>
                <a href="#"><i class="fa fa-fw fa-archive"></i> Kartoteka<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <% measure_types.each do |data| %>     
                        <li><%= link_to measurement_path(id: data.id) do%>
                            <%= data.name %>
                        <% end %></li>
                    <% end %> 
                </ul>
                <!-- /.nav-second-level -->
            </li>
           
            <li>
                <a href="#"><i class="fa fa-fw fa-envelope"></i> Wiadomosci<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">Napisz do trenera</a>
                    </li>
                    <li>
                        <a href="#">Skrzynka odbiorcza</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-fw fa-users"></i> Trenerzy</a>
            </li>
            <% elsif !Trainer.find_by(user_id: current_user.id.to_i).nil? %>
            <li>
                <%= link_to my_proteges_path do %> 
                    Moi podopieczni 
                <% end %>
            </li>
            <li>
                <a href="#"><i class="fa fa-fw fa-envelope"></i> Wiadomosci<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">Napisz do trenera</a>
                    </li>
                    <li>
                        <a href="#">Skrzynka odbiorcza</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <!-- end protege user menu -->

            <!-- start trainer user menu -->

            <!-- end trainer user menu -->

            <% end %>


        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->

<!-- 
<div class="collapse navbar-collapse navbar-ex1-collapse">
    
    <ul class="nav navbar-nav side-nav" id="left-bar">
        <div class="hidden-xs" id="personal_info">
            <img class="img-circle" id="circle-photo-big" src="img/person.jpg" alt="">
            <%= @current_user.name %> <%= @current_user.surname%>
        </div>
        <li>
            <a href="#"><i class="fa fa-fw fa-bar-chart-o"></i> Treningi</a>
        </li>

        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-archive"></i> Kartoteka <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="demo" class="collapse">
                <li>
                    <a href="#">Ciśnienie tętnicze</a>
                </li>
                <li>
                    <a href="#">Częstość oddechów</a>
                </li>
                 <li>
                    <a href="#">Tętno</a>
                </li>
                 <li>
                    <a href="#">Temperatura ciała</a>
                </li>
                 <li>
                    <a href="#">Waga</a>
                </li>
                 <li>
                    <a href="#">Wzrost</a>
                </li>
                 <li>
                    <a href="#">Tkanka tłuszczowa</a>
                </li>
                 <li>
                    <a href="#">Masa mięsniowa</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#envelope"><i class="fa fa-fw fa-envelope"></i> Wiadomośći<i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="envelope" class="collapse">
                <li>
                    <a href="#">Napisz do trenera</a>
                </li>
                <li>
                    <a href="#">Wszystkie wiadomści</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-fw fa-users"></i> Trenerzy</a>
        </li>
        <li>
        </li>
    </ul>
</div> -->